.sixth-screen {
  position: relative;
  &-inner {
    padding: 2rem $paddingLeftRight;
    display: flex;
    justify-content: center;

  }

  &-wrapper {
    position: relative;
    @include widthContainer;
  }

  &-subtitle {
    padding-top: 2rem;
    li {
      align-self: center;
      font-size: 2.7rem;
      color: #04c29a;
      margin-bottom: 3rem;
      span {
        color: $dark;
      }
    }
  }
  &-tagline {
    font-family: UZSans;
    font-size: 7rem;
    font-weight: 350;
    margin-bottom: 3rem;
  }

  &-container {
    &-box {
      display: flex;
      flex-direction: column;
      gap: 3rem 0;
      padding: 0.1rem ;
      &-position {
        font-family: UZSans;
        font-size: 3rem;
        font-weight: 500;
      }

      &-point {
        display: flex;
        align-items: center;
        gap: 1rem;

        .page-list-img {
          width: 2.5rem;
          height: 2.5rem;
          object-fit: cover;
        }

        &-text {
          font-family: UZSans;
          font-size: 2.5rem;
          font-weight: 350;
        }

      }
      &-btn {
        @include mainButton;
      }
    }

    &-arrows {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      top: 58%;
      .swiper-vacancy-arrow-next,.swiper-vacancy-arrow-prev{
        position: absolute;
        height: 5rem;
        img{
          height: 100%;
        }

      }
      .swiper-vacancy-arrow-next{
        right: -7rem;
      }
      .swiper-vacancy-arrow-prev{
        left: -7rem;
      }
    }

    &-arrow {
      cursor: pointer;
    }
  }

  &-lowStat {
    font-family: UZSans;
    font-size: 2.5rem;
    font-weight: 350;
    margin-top: 5rem;
  }

}