@import "../utils/typography";
@import "../utils/vars";
@import "../crm-implement/crm-implement-second-screen";

.page {
  &-list {
    &-bonuses {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      width: 100%;
    }
    &-title {
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
    }
  }
}