@import "../utils/typography";
@import "../utils/vars";

.crm {
  &-implement {
    &-rates {
      background-image: url("../../img/crm/Frame-209.png");
      background-repeat: no-repeat;
      height: 24.75rem;
      background-size: cover;
      &-img {
        position: relative;
        top: -6.3rem;
        height: 27.25rem;
      }
      &-cont {
        padding-top: 3.75rem;
        padding-bottom: 3rem;
        color: $white;
        display: flex;
      }
      &-block {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        width: 70%;
      }
    }
  }
}

.rates {
  &-header {
    padding-bottom: 1.25rem;
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 1.2;
  }
  &-item {
    display: flex;
    column-gap: 0.9rem;
  }
  &-title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.5;
    padding-left: 0.9rem;
  }
  &-text {
    font-weight: 350;
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

@media (max-width : 1060px) {
  .crm {
    &-implement {
      &-rates {
        background-position-x: 60%;
        &-img {
          left: 5%;
        }
        &-block {
          width: 90%;
          row-gap: 1.5rem;
        }
      }
    }
  }

  .rates {
    &-item {
      flex-wrap: wrap;
    }
    &-text {
      font-size: 2rem;
    }
    &-title {
      font-size: 2rem;
    }
    &-header {
      font-size: 2.7rem;
    }
  }
}

@media (max-width : 670px) {
  .crm {
    &-implement {
      &-rates {
        height: auto;
        background-position-x: 10%;
        padding-top: 2.5rem;
        &-cont {
          flex-direction: column;
          row-gap: 2rem;
        }
        &-img {
          left: 50%;
          top: 0;
          transform: translate(-50%, 0);
          border-bottom: 0.1rem solid $white;
          object-fit: contain;
          width: 40%;
        }
        &-block {
          width: 100%;
          align-items: center;
        }
      }
    }
  }
}