html {
  box-sizing: border-box;
  font-size: calc(100vw/192);
  // line-height: 1.25em;
  text-size-adjust: 100%;
  font-family:UZSans;
}
@media (min-width : 1280px){
  html {
    font-size: 8px;
  }
}

@media (min-width : 800px){
  html {
    font-size: 6px;
  }
}

*{
  font-size: 2rem;
  box-sizing: border-box;
  img{
    box-sizing: border-box;
    max-width: 100%;
  }
}
body{
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}
address {
  font-style: normal;
}
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s,
  transform 0.25s;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size:5.5rem;
  font-weight: 500;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 1.3242rem;
}

h5,
h6 {
  font-size: 1.205rem;
}

.h2 {
  font-size: 1.806rem;
}

.h3 {
  font-size: 1.5652rem;
}

.h4 {
  font-size: 1.3242rem;
}

.h5,
.h6 {
  font-size: 1.205rem;
}
a:hover {
  text-decoration: none;
}

//a:not([class]) {
//  text-decoration: underline;
//}

a:not([class]):hover {
  text-decoration: none
}

.button {
  display: inline-block;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  font-size: 2rem;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
  transition: color 0.25s, background-color 0.25s, opacity 0.25s, border-color 0.25s;
  .mobile & {
    -webkit-appearance: none;
    border-radius: 0;
  }
}