.page {
  &-pros {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width : 690px) {
  .page {
    &-pros {
      position: relative;
      &-item {
        align-items: center;
      }
    }
  }

  .pros {
    &-container {
      &-arrows {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        top: 58%;
        .swiper-vacancy-arrow-next,.swiper-vacancy-arrow-prev{
          height: 5rem;
          img {
            height: 100%;
            width: 50%;
          }
        }
      }
    }
  }
}