@import "../utils/typography";
@import "../utils/vars";

.maintenance {
  &-list {
    @include border-top;
    position: relative;
  }

  &-imgGirl {
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 85%;
    z-index: 0;
  }
}

.page {
  &-list {
    &-cont {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      color: $dark;
      position: relative;
      z-index: 2;
    }
    &-block {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      width: 40%;
    }
    &-blueTitle {
      color: $cyan;
      font-weight: 500;
      font-size: 5rem;
      line-height: 1;
      padding-bottom: 2.5rem;
    }
    &-title {
      font-weight: 500;
      font-size: 3.12rem;
      line-height: 1.2;
    }
    &-img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: relative;
      top: 0.7rem;
    }
  }
}

@media (max-width : 1060px) {
  .maintenance {
    &-imgGirl {
      left: 30%;
      height: 75%;
      width: 65%;
    }
  }

  .page {
    &-list {
      &-block {
        width: 60%;
      }
    }
  }
}

@media (max-width : 750px) {
  .maintenance {
    &-imgGirl {
      left: 40%;
      height: 65%;
      width: 55%;
    }
  }

  .page {
    &-list {
      &-block {
        width: 60%;
      }
    }
  }
}

@media (max-width : 650px) {
  .maintenance {
    &-imgGirl {
      left: 40%;
      height: 55%;
      width: 60%;
    }
  }
}

@media (max-width : 550px) {
  .maintenance {
    &-list {
      display: flex;
      flex-direction: column-reverse;
    }
    &-imgGirl {
      position: relative;
      align-self: center;
      left: initial;
      height: 100%;
      width: 100%;
    }
  }

  .page {
    &-list {
      &-block {
        width: 100%;
      }
      &-blueTitle {
        text-align: center;
        font-size: 7.5rem;
      }
      &-title {
        font-size: 5rem;
      }
      &-img {
        width: 6rem;
        height: 6rem;
      }
      &-text {
        font-size: 4.5rem;
      }
    }
  }
}