.content {
  &-item {
    &-img {
      &-games6 {
        animation: showLeft 1s;
        width: 59.75rem;
        height: 61.1rem;
        top: 25rem;
        left: 10%;
      }
    }
    &-imgBgd6 {
      top: 50rem;
      left: -35%;
    }
  }
}

.item {
  &-block {
    &-cont6 {
      top: -70rem;
    }
    &-num6 {
      top: -61rem;
    }
  }
}

@media (min-width : 2000px) {
  .content {
    &-item {
      &-imgBgd6 {
        left: -25%;
      }
    }
  }
}

@media (max-width : 1299px) {
  .content {
    &-item {
      &-imgBgd6 {
        left: -10%;
        top: 0;
      }
    }
  }

  .item {
    &-block {
      &-cont6 {
        top: -110rem;
      }
      &-num6 {
        top: -101rem;
      }
    }
  }
}

@media (max-width : 500px) {
  .content {
    &-item {
      &-imgBgd6 {
        top: -20rem;
        left: -15rem;
      }
      &-img {
        &-games6 {
          //animation: showLeft 1s;
          top: 10rem;
        }
      }
    }
  }

  .item {
    &-block {
      &-cont6 {
        top: -65rem;
      }
      &-num6 {
        top: -55rem;
      }
    }
  }
}