.content {
  &-item {
    &-img {
      &-games3 {
        position: relative;
        z-index: 1;
        height: 61.6rem;
        width: 66.1rem;
        top: -73rem;
        left: 45%;
        animation: showSize 1s;
      }
      &-games32 {
        left: 25%;
        height: 63.5rem;
        top: -75rem;
        animation: showImg32Right 1s;
      }
    }
    &-imgBgd3 {
      top: -100rem;
      left: 40%;
    }
  }
}

@media (min-width : 2000px) {
  .content {
    &-item {
      &-imgBgd3 {
        top: -45rem;
        left: -20%;
      }
    }
  }
}

@media (max-width : 1148px) {
  .content {
    &-item {
      &-imgBgd3 {
        top: -160rem;
        left: 35%;
      }
      &-img {
        &-games3 {
          top: -70rem;
        }
        &-games32 {
          left: 60%;
          top: -135rem;
          //animation: showImg32Right 1s;
        }
      }
    }
  }
}

//@media (max-width : 1024px) {
//  .content {
//    &-item {
//      &-imgBgd3 {
//        top: -100rem;
//      }
//      &-img {
//        &-games3 {
//          top: -75rem;
//        }
//        &-games32 {
//          left: 20%;
//          top: -75rem;
//          //animation: showImg32Right 1s;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width : 1015px) {
//  .content {
//    &-item {
//      &-imgBgd3 {
//        top: -160rem;
//      }
//      &-img {
//        &-games32 {
//          left: 60%;
//          top: -135rem;
//          //animation: showImg32Right 1s;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width : 900px) {
//  .content {
//    &-item {
//      &-imgBgd3 {
//        top: -100rem;
//      }
//      &-img {
//        &-games32 {
//          left: 20%;
//          top: -75rem;
//          //animation: showImg32Right 1s;
//        }
//      }
//    }
//  }
//}

@media (max-width : 500px) {
  .content {
    &-item {
      &-imgBgd3 {
        left: 10%;
        top: -180rem;
      }
      &-img {
        &-games3 {
          left: 10rem;
          top: -95rem;
        }
        &-games32 {
          left: 35%;
          top: -155rem;
          //animation: showImg32Right 1s;
        }
      }
    }
  }

  .item {
    &-block {
      &-num3 {
        top: -15rem;
        left: -25%;
      }
    }
  }
}