.page {
  &-list {
    &-img {
      width: 3rem;
      height: 3rem;
    }
  }
}

.content {
  &-item {
    &-img {
      &-games2 {
        height: 77.3rem;
        left: 5%;
        top: 15rem;
        animation: showSize 1s;
      }
    }
    &-imgBgd2 {
      top: 45rem;
      left: -42%;
    }
  }
}

.item {
  &-block {
    &-cont2 {
      top: -90rem;
    }
    &-num2 {
      top: -77rem;
      left: 50%;
    }
  }
}