.content {
  &-item {
    &-img {
      &-games4 {
        animation: showSize 1s;
        width: 54.25rem;
        height: 50.25rem;
        top: 28rem;
        left: 10%;
      }
    }
    &-imgBgd4 {
      left: -30%;
      top: 50rem;
    }
  }
}

.item {
  &-block {
    &-cont4 {
      top: -60rem;
    }
    &-num4 {
      top: -50rem;
    }
  }
}

@media (min-width : 2000px) {
  .content {
    &-item {
      &-imgBgd4 {
        left: -20%;
      }
    }
  }
}

@media (max-width : 1266px) {
  .content {
    &-item {
      &-imgBgd4 {
        top: 15rem;
        left: -10%;
      }
      &-img {
        &-games4 {
          top: 40rem;
        }
      }
    }
  }
}

@media (max-width : 500px) {
  .content {
    &-item {
      &-imgBgd4 {
        top: 45rem;
      }
      &-img {
        &-games4 {
          top: 70rem;
          left: -5%;
        }
      }
    }
    &-item4 {
      height: 183rem;
    }
  }

  .item {
    &-block {
      &-num4 {
        top: -55rem;
      }
      &-num {
        &-blockright4 {
          top: -80rem;
          height: 85rem;
          padding-top: 50rem;
        }
      }
      &-cont4 {
        top: -40rem;
      }
    }
  }
}