.mobile {
  &-tools {
    display: flex;
    flex-direction: column;
    row-gap: 5.37rem;
    padding-bottom: 6.25rem;
    padding-top: 6.25rem;
    align-items: center;
    &-title {
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      text-align: center;
    }
  }
}

.tools {
  &-gallery {
    &-item {
      width: 13.75rem;
      height: 13.75rem;
      object-fit: cover;
    }
  }
}