@import "../blog/blog-content-item";

.optimization {
  &-articles {
    @include border-top;
    &-cont {
      display: flex;
      flex-direction: column;
      row-gap: 5rem;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
    &-gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2.5rem;
    }
  }
}

@media (max-width : 650px) {
  .optimization {
    &-articles {
      &-gallery {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}