.feedback-inner {
    padding: 2rem $paddingLeftRight;
    display: flex;
    justify-content: center;
    background-color: #303030;
    color: $white;
  .wrapper{
    @include widthContainer;
  }
}
.feedback {
  &-text {
    margin: 0 auto;
    width: fit-content;
    font-size: 2.7rem;
  }
  &-arrow {
    cursor: pointer;
    @include arrow;
    margin: 2rem auto;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
      transition: transform 250ms ease-out;
    }
    &.active{
      img {
        transform: rotate(90deg);
      }
    }
  }
  &-form{
    display: none;
    background-color: #5a5a5a;
    padding: 3rem;
    width: 80%;
    margin: 0 auto;
    &-title{
      margin: 0rem auto 3rem;
      width: fit-content;
    }
    &-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
      'name area'
      'mail area'
      'tel area';
      gap: 3rem;
      position: relative;
      margin-bottom: 3rem;
      .feedback-name{
        grid-area: name;
      }
      .feedback-mail{
        grid-area: mail;
      }
      .feedback-tel{
        grid-area: tel;
      }
      .feedback-area{
        grid-area: area;
      }
      label{
        position: absolute;
        left: 2rem
      }
    }
    &-input{
      width: 100%;
      color: $white;
      background-color: #858585;
      padding: 1rem 2rem;
      &:focus-visible{
        outline: none;
      }
      &::placeholder{
        color:$white;
      }
    }
    &-textarea{

      width: 100%;
      height: 100%;
      color: $white;
      background-color: #858585;
      resize: none;
      padding: 1rem 2rem;
      &:focus-visible{
        outline: none;
      }
      &::placeholder{
        color:$white;
        font-family:UZSans;
      }
    }
    &-btn{
      @include mainButton;
    }
    &-switch{
      @include switch;
    }
    &-bottom{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 3rem;
    }
    &-agreement-text{
      padding: 0 1rem;
    }
  }
}