.footer {
  ::-webkit-scrollbar {
    background: #FFFFFF;
    border-radius: 20px;
    width: 5px;
    height: 140px;
  }
  &-inner {
    padding: 0 $paddingLeft;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #0087D2 50%, #003566 50%);
    max-height: 480px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    background-color: #0087D2;
  }

  &-block {
    margin-right: 20px;
    max-width: 500px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &-blog {
    display: flex;
    align-items: center;

    &-button {
      width: 100px;
      height: 36px;
      background: #04C29A;
      border-radius: 3px;
      font-family: UZSans;
      font-size: 15px;
      font-weight: 400;
      line-height: 15.15px;
      color: $white;
      cursor: pointer;
      clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);

      &-img {
        width: 7rem;
        height: 5rem;
        margin-right: -1rem;
       margin-left: -3rem;
      }
    }

    &-text {
      font-family: UZSans;
      font-size: 15px;
      font-weight: 400;
      line-height: 15.15px;
      color: $white;
      margin-left: 30px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-box {
    display: flex;
    margin-top: 35px;

    &-img {
      width: 196px;
      height: 236px;
      object-fit: cover;
    }

    &-main {
      margin-left: 20px;

      &-header {
        font-family: UZSans;
        font-size: 25px;
        font-weight: 700;
        line-height: 29.76px;
        color: $white;
        margin-bottom: 30px;
      }

      &-date {
        font-family: UZSans;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.28px;
        color: #7CD0FF;
        margin-bottom: 30px;
      }

      &-text {
        font-family: UZSans;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.42px;
        color: $white;
      }
    }

  }

  &-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 480px;
    height: auto;
    max-width: 410px;
    margin-left: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    &-item {

    }

    &-header {
      font-family: UZSans;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: $white;
      margin-bottom: 30px;
    }

    &-date {
      font-family: UZSans;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.28px;
      color: #7CD0FF;
      margin-bottom: 30px;
    }

    &-hr {
      height: 1px;
      background-color: #7CD0FF;
      margin-bottom: 30px;
    }
  }



  &-contacts {
background-color: #003566;
    padding-left: 47px;
    max-width: 237px;
    padding-bottom: 30px;
    padding-top: 30px;

    &-logo {

    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-top: 38px;

    }

    &-phone {
      &-header {
        font-family: UZSans;
        font-size: 15px;
        font-weight: 700;
        line-height: 23.33px;
        color: $white;
      }

      &-text {
        font-family: UZSans;
        font-size: 15px;
        font-weight: 350;
        line-height: 23.33px;
        color: $white;

      }

    }

    &-regime {
      color: #01C2FF;
      margin-top: 1rem;

    }

    &-address {
      margin-top: 1rem;
      &-header {
        font-family: UZSans;
        font-size: 15px;
        font-weight: 700;
        line-height: 23.33px;
        color: $white;
      }

      &-text {
        font-family: UZSans;
        font-size: 15px;
        font-weight: 350;
        line-height: 23.33px;
        color: $white;

      }

    }

    &-email {
      margin-top: 1rem;
      &-header {
        font-family: UZSans;
        font-size: 15px;
        font-weight: 700;
        line-height: 23.33px;
        color: $white;

      }

      &-text {
        font-family: UZSans;
        font-size: 15px;
        font-weight: 350;
        line-height: 23.33px;
        color: $white;
      }
    }

    &-copyright {
      font-family: UZSans;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 119.03%;
      color: #01C2FF;
      margin-top: 57px;
    }

  }
}