header{
    @include widthContainer;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    font-size: 2.25rem;
    display: grid;
    padding: 2rem $paddingLeft;
    grid-template-columns: 1.5fr 8.3fr 2.2fr;
    background-color: $white;
    .header-logo{
        padding-top: 11px;
        img{
            width: 16.4rem;
            height: 100%;
        }
    }
    .header-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5.6rem;
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
        }
    }
    .header-phone{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $cyan;
        &-icon{
           height: 3rem;
        }
        &-arrow{
            margin-left: 2rem;
            height: 1rem;
        }
    }
    .header-phone-arrow, .header-menu-item-arrow{
        height: 1rem;
    }
    .header-menu-item-arrow{
        padding-left: 2rem;
    }
}

.svg-burger {
    display: none;
}

@media (max-width : 1280px){
    html {
        font-size: 8px;
    }

    .header-menu {
        display: none;
    }

    .svg-burger {
        display: block;
    }

}

@media (max-width : 400px) {
    html {
        font-size: 4px;
    }
}