@import "dropdown";

header{
    @include widthContainer;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    font-size: 2.25rem;
    display: grid;
    padding: 2rem $paddingLeft;
    grid-template-columns: 1.5fr 8.3fr 2.2fr;
    background-color: $white;
    .header-logo{
        padding-top: 11px;
        padding-bottom: 1.6rem;
        img{
            width: 16.4rem;
            height: 100%;
        }
    }
    .header-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5.6rem;
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            cursor:pointer;
        }
    }
    .header-phone{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $cyan;
        a{
           margin-right: 2rem;
        }
        &-icon{
           height: 3rem;
        }
        &-arrow{
            height: 1rem;
            transition: transform 200ms ease-in;
            &.active{
                transform: rotate(180deg);
            }
        }
        &-wrapper{
            position: relative;
            display: flex;
            &-hide{
                display: none;
                position: absolute;
                top: 130%;
            }
        }
    }
    .header-phone-arrow, .header-menu-item-arrow{
        height: 1rem;
    }
    .header-menu-item-arrow{
        transition: transform 200ms ease-in;
    }
    .header-menu-item-services{
        gap: 1rem;
        &.active{
            .header-menu-item-arrow{
              transform: rotate(180deg);
            }
        }
    }

}

.svg-burger {
    display: none;
}

@media (max-width : 1280px){
    html {
        font-size: 8px;
    }

    .header-menu {
        display: none;
    }

    .svg-burger {
        display: block;
    }

}

@media (max-width : 400px) {
    html {
        font-size: 4px;
    }
}