@import "../utils/typography";
@import "../utils/vars";
@import "../all-pages/page-cases-swiper";

.page {
  &-cases {
    &-container {
      padding-top: 3.7rem;
      padding-bottom: 3.7rem;
    }
    &-title {
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      padding-bottom: 3.7rem;
      padding-top: 3.75rem;
    }
    &-gallery {
      display: flex;
      justify-content: space-between;
      column-gap: 2.7rem;
    }
  }
}

.cases-gallery-item {
  object-fit: contain;
  //width: 52rem;
  //overflow: hidden;
}