@import "../utils/typography";
@import "../utils/vars";

.page {
  &-pros {
    &-container {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      display: flex;
      flex-direction: column;
      row-gap: 4.1rem;
    }

    &-title {
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      text-align: center;
    }

    &-items {
      display: flex;
      column-gap: 2.5rem;
    }

    &-item {
      color: $dark;
      display: flex;
      flex-direction: column;
      padding-bottom: 2.5rem;
      row-gap: 3.8rem;
      overflow: hidden;
    }
  }
}

.pros {
  &-item {
    &-header {
      font-weight: 500;
      font-size: 3.1rem;
      line-height: 1.5;
    }

    &-text {
      font-weight: 350;
      font-size: 2.5rem;
      line-height: 1.6;
    }
  }
  &-img {
    width: 9.25rem;
    height: 6.25rem;
    object-fit: cover;
  }
}