@import "../utils/typography";
@import "../utils/vars";

.page {
  &-showMore {
    width: 80%;
    height: 8rem;
    border: 0.1rem solid $cyan;
    border-radius: 3px;
    background-color: transparent;
    color: $cyan;
    &-vector {
      rotate: 90deg;
    }
    &-arrow {
      font-weight: 350;
      font-size: 2.25rem;
    }
    &:hover {
      background-color: $cyan;
      color: $white;
      transition: .5s cubic-bezier(0.61, 0.63, 1, 1);
    }
  }
}

@media (max-width : 1024px) {
  .page {
    &-showMore {
      margin-left: 4rem;
      align-self: center;
    }
  }
}