.support {
  &-gallery {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    &-header {
      color: $dark;
      font-weight: 500;
      font-size: 5rem;
      line-height: 1;
      text-align: center;
    }
    &-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (max-width : 500px) {
  .support {
    &-gallery {
      &-block {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}