.page {
  &-list {
    &-block {
      @include border-bottom;
      &-cont {
        color: $dark;
        padding-bottom: 4.1rem;
        display: flex;
        flex-direction: column;
        row-gap: 4.5rem;
      }
    }
  }
}