@import "../utils/typography";
@import "../utils/vars";

.page {
  &-header {
    display: flex;
    column-gap: 5.4rem;
    background-image: url("../../img/internet-shops/background-header.png");
    background-size: cover;
    height: 12.4rem;
    justify-content: space-evenly;
    filter: hue-rotate(329deg);

    &-block {
      display: flex;
      column-gap: 10.4rem;
      height: 12.4rem;
    }

    &-cont {
      color: $white;
      align-self: center;
    }

    &-text {
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 1;
    }

    &-boldText {
      font-weight: 700;
      font-size: 3.7rem;
      line-height: 1.5;
    }
  }

  &-blueBtn {
    @include page-blueBtn;
    filter: hue-rotate(38deg);
  }
}

.scissors-img {
  filter: hue-rotate(21deg);
}

.vector-btn {
  display: none;
}

@media (max-width : 1280px) {
  .page {
    &-title {
      @include border-top;
      padding-top: 3.3rem;
      padding-bottom: 3.3rem;
    }

    &-header {
      background-position: bottom;
    }
  }
}

@media (max-width : 860px) {
  .page {
    &-blueBtn {
      @include page-blueBtn-maxWidth650px;
    }
  }
}

@media (max-width : 690px) {
  .page {
    &-header {
      display: flex;
      justify-content: space-evenly;
      &-block {
        display: flex;
        align-self: center;
        column-gap: 4rem;
        padding: 4rem 4.7rem;
        justify-content: space-between;
      }
    }
    &-blueBtn {
      font-size: 2rem;
    }
  }

}

@media (max-width : 650px) {
  .page {
    &-header {
      &-block {
        column-gap: 1.5rem;
        padding-right: 2.5rem;
      }
    }
  }
}

@media (max-width : 550px) {
  .svg {
    &-vector {
      &-btn {
        display: none;
      }
    }
  }

  .scissors-img {
    position: relative;
    right: 5%;
  }

  .page {
    &-title {
      text-align: center;
    }
    &-header {
      column-gap: 0;
      &-block {
        flex-direction: column;
        padding: 1rem 1.7rem;
        row-gap: 0;
      }
      &-text {
        font-size: 2rem;
      }
      &-boldText {
        font-size: 3rem;
      }
    }
    &-blueBtn {
      @include page-blueBtn-maxWidth550px;
    }
  }

  .vector-btn {
    display: block;
  }
}
