.page {
  &-bonuses {
    padding-top: 11.5rem;
    padding-bottom: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.6rem;
    color: $dark;
    &-title {
      &-main {
        font-weight: 350;
        font-size: 5rem;
        line-height: 1;
        text-align: center;
      }
      &-second {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.6;
      }
    }
  }
}

@media (max-width : 1280px) {
  .development-fifth-screen {
    .page {
      &-bonuses {
        padding-top: 15rem;
        padding-bottom: 5rem;
      }
    }

    .list {
      &-item {
        &-img {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}

@media (max-width : 620px) {
  .development-fifth-screen {
    .page {
      &-bonuses {
        padding-top: 20rem;
      }
    }
  }
}

@media (max-width : 550px) {
  .development-fifth-screen {
    .page {
      &-bonuses {
        padding-top: 7rem;
        padding-bottom: 7rem;
        &-title {
          &-main {
            font-size: 7.5rem;
          }
          &-second {
            font-size: 4.5rem;
          }
        }
      }
    }
  }
}