@import "utils/typography";
@import "utils/vars";
@import "fonts";

* {
  margin: 0;
  box-sizing: border-box;
}

.svg-sprites {
  @include svg-sprites;
}

.svg {
  &-arrowBread {
    @include svg-arrowBread;
  }
  &-arrow-slider {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 0.4em;
  }
  //&-resize-horizontal-round {
  //  width: 16px;
  //  height: 16px;
  //}
}

.container {
  @include widthContainer;
  max-width: calc(1280px + 40px);
  padding: 0 16px;
}

.page {
  &-breadcrumbs {
    @include breadcrumbs;

    &-text {
      @include breadcrumbs-text;
    }
  }

  &-title {
    font-style: normal;
    font-weight: 350;
    font-size: 5.6rem;
    line-height: 1;
    color: $dark;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  &-header {
    background-image: url("../img/integration/integration.png");
    background-size: cover;
    height: 99px;
    display: flex;
    align-items: center;
  }

  &-blueBtn {
    @include mainButton;
    font-size: 2.25rem;
    height: 6.7rem;
    width: 32.6rem;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 3px;
    position: relative;
    left: 54.5%;
  }

  &-list {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
    }
    &-title {
      font-weight: 500;
      font-size: 3.1rem;
      line-height: 1.2;
    }
    &-item {
      display: flex;
      align-items: center;
      column-gap: 14px;
    }
  }

  &-pros {
    border-top: 0.1rem solid #d9d9d9;
    &-container {
      padding-top: 30px;
      padding-bottom: 30px;
      display: grid;
      grid-template-columns: repeat(4, 38.1rem);
      grid-template-rows: repeat(2, auto);
      column-gap: 2.5rem;
      justify-content: center;
    }

    &-title {
      padding-bottom: 5rem;
      font-weight: 350;
      font-size: 40px;
      line-height: 1;
      color: $dark;
      position: relative;
      left: 31%;
      grid-area: 1 / 1 / 2 / 7;
    }

    &-item {
      @include page-pros-item;
    }
  }
}

.integration-content {
  color: $dark;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  &-header {
    font-weight: 350;
    font-size: 8.75rem;
    line-height: 1;
  }
  &-block {
    display: flex;
    &-text {
      display: flex;
      flex-direction: column;
      row-gap: 18px;
      &-border {
        border-bottom: 0.1rem solid #d9d9d9;
      }
      &-container {
        display: flex;
        flex-direction: column;
        row-gap: 2.25rem;
        padding-top: 30px;
        padding-bottom: 33px;
      }
    }
  }
}

.content {
  &-block {
    &-text {
      font-weight: 350;
      font-size: 2.5rem;
      line-height: 1.6;
    }
    &-header {
      font-weight: 500;
      font-size: 3.1rem;
      line-height: 1.2;
    }
  }
  &-img {
    object-fit: none;
    position: relative;
    top: -12.5rem;
  }
}

.list {
  &-item {
    &-text {
      font-weight: 350;
      font-size: 2.25rem;
      line-height: 1.6;
    }
  }
}

.pros-item {
  &-header {
    @include pros-item-header;
  }

  &-text {
    @include pros-item-text;
  }
}
