@import "utils/typography";
@import "utils/vars";
@import "1C-integration/1C-integration-first-screen";
@import "1C-integration/1C-integration-second-screen";
@import "1C-integration/1C-integration-third-screen";
@import "1C-integration/1C-integration-fourth-screen";


.page {
  &-cases {
    @include border-bottom;
  }
}

@media (max-width : 1200px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }
  }
}

@media (max-width : 800px) {
  html {
    font-size: 5px;
  }
}

@media (max-width : 500px) {
  html {
    font-size: 4px;
  }

  .desktop {
    display: none;
  }

  .phone {
    display: block;
  }
}