@import "utils/typography";
@import "utils/vars";

@import "about/about-first-screen";
@import "about/about-second-screen";
@import "about/about-third-screen";
@import "about/about-fourth-screen";

.about {
    display: flex;
    flex-direction: column;
    &-block {
        display: flex;
        &-cont {
            align-self: center;
        }
    }
    &-tittle {
        font-weight: 500;
        font-size: 5rem;
        line-height: 1;
    }
    &-bluText {
        font-weight: 350;
        font-size: 2.5rem;
        line-height: 1.6;
        color: $cyan;
    }
    &-text {
        font-weight: 350;
        font-size: 3.1rem;
        line-height: 1.6;
        &-block {
            display: flex;
            column-gap: 2.75rem;
        }
    }
    &-cont {
        display: flex;
        flex-direction: column;
        row-gap: 6.25rem;
    }
}

.prefooter {
    position: relative;
    z-index: 6;
}

.prefooter-gallery {
    &-block {
        position: relative;
        z-index: 6;
        background-color: $white;
    }
}

@media (max-width : 1024px) {
    html {
        font-size: 6px;
    }

    .page {
        &-breadcrumbs {
            display: none;
        }
    }
}

@media (max-width : 800px) {
    .about {
        &-text {
            font-size: 2.5rem;
        }
    }
}

@media (max-width : 690px) {
    header .header-logo {
        width: 18rem;
    }

    html {
        font-size: 4px;
    }
}

@media (max-width : 530px) {
    .about {
        &-cont {
            width: 100%;
        }
        &-tittle {
            font-size: 7.5rem;
        }
        &-bluText {
            font-size: 4.5rem;
        }
        &-text {
            font-size: 5rem;
        }
    }
}