@import "utils/typography";
@import "utils/vars";

.page {
  &-title {
    @include page-title;
  }

  &-list {
    &-img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: relative;
      top: 0.7rem;
    }

    &-block {
      @include border-top;
      background-image: url("../img/amocrm/girl-amocrm.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-position-x: 100%;
      background-size: contain;
      &-block {
        display: flex;
        justify-content: space-between;
      }
      &-div {
        width: 65%;
      }
      &-cont {
        padding-top: 5.1rem;
        padding-bottom: 2.2rem;
        color: $dark;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        width: 35%;
      }
      &-bgd {
        background-color: $cyan;
      }
      &-bonuses {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
        color: $white;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
      }
    }

    &-blueTitle {
      color: $cyan;
      font-weight: 500;
      font-size: 5rem;
      line-height: 1;
    }

    &-title {
      font-weight: 500;
      font-size: 3.1rem;
      line-height: 1.2;
      &-bonuses {
        font-weight: 350;
        font-size: 3.75rem;
        line-height: 1;
      }
    }

    &-text {
      @include page-list-text;
    }

    &-item {
      display: flex;
      column-gap: 1.75rem;
    }
  }

  &-pros {
    &-container {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      display: flex;
      flex-direction: column;
      row-gap: 4.1rem;
    }
    &-title {
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      text-align: center;
      }
    &-items {
      display: flex;
      column-gap: 2.5rem;
    }
    &-item {
      @include page-pros-item;
    }
  }
}

.amocrm {
  &-description {
    @include description;
  }
}

.pros-item {
  &-header {
    @include pros-item-header;
  }

  &-text {
    @include pros-item-text;
  }
}

@media (max-width : 1060px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }

    &-title {
      @include border-top;
    }

    &-list {
      &-block {
        background-position-x: 140%;
        &-cont {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width : 650px) {
  .page {
    &-title {
      text-align: center;
      font-size: 7rem;
    }
    &-list {
      &-block {
        background-image: none;
      }
    }
  }
}

@media (max-width : 500px) {
  html {
    font-size: 4px;
  }
}