@import "utils/typography";
@import "utils/vars";
@import "fonts";

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  @include widthContainer;
  max-width: calc(1280px + 40px);
  padding: 0 16px;
}

.svg {
  &-sprites {
    @include svg-sprites;
  }
  &-arrowBread {
    @include svg-arrowBread;
  }
}

.page {
  &-breadcrumbs {
    @include breadcrumbs;

    &-text {
      @include breadcrumbs-text;
    }
  }

  &-title {
    @include page-title;
  }

  &-header {
    background-image: url("../img/support/support.png");
    background-size: cover;
    height: 99px;
    display: flex;
    align-items: center;
  }

  &-blueBtn {
    @include mainButton;
    font-size: 2.25rem;
    height: 6.8rem;
    width: 34.6rem;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 3px;
    position: relative;
    left: 54.5%;
  }

  &-list {
    &-img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: relative;
      top: 0.7rem;
    }
    &-item {
      display: flex;
      column-gap: 1.75rem;
    }
    &-text {
      @include page-list-text;
    }
  }

  &-pros {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, auto);
    column-gap: 2.5rem;
    justify-content: space-between;
    &-title {
      padding-bottom: 5rem;
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      text-align: center;
      grid-area: 1 / 1 / 2 / 6;
    }
    &-item {
      @include page-pros-item;
    }
  }
}

.analysis {
  &-description {
    color: $dark;
    font-weight: 350;
    font-size: 2.5rem;
    line-height: 1.6;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  &-modeling {
    @include border-top;
    background-color: #F9FDFF;
    height: 851px;
    background-image: url("../img/analysis/cyrcleAnalys.png");
    background-repeat: no-repeat;
    background-position: center;

    &-title {
      color: $cyan;
      font-weight: 700;
      font-size: 6.25rem;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
    }
    &-text {
      color: $dark;
      font-weight: 500;
      font-size: 3.12rem;
      line-height: 1.2;
      text-align: center;
      width: 30.5rem;
      height: 11.25rem;
    }
  }

  &-useCase {
    background-color: #003566;
    &-cont {
      padding-top: 4.75rem;
      padding-bottom: 4.75rem;
      display: flex;
      flex-direction: column;
      row-gap: 3.75rem;
    }
    &-title {
      color: $cyan;
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      text-align: center;
    }
    &-block {
      display: flex;
      column-gap: 3rem;
      color: $white;
    }
    &-block-1 {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
    }
  }
}

.pros-item {
  &-header {
    @include pros-item-header;
  }

  &-text {
    @include pros-item-text;
  }
}

.modeling {
  &-block {
    &-text {
      display: flex;
      flex-direction: column;
      row-gap: 1.1rem;
      width: 30.5rem;
      position: relative;
      left: 50%;
      transform: translate(-50%, 50%);
      top: 42rem;
    }
    &-block {
      display: flex;
    }
    &-btn {
      &-center {
        position: relative;
        top: 67.75rem;
      }
    }
  }

  &-btns {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  &-btn {
    padding: 1.25rem 2.5rem;
    background: rgba(253, 255, 255, 0.2);
    border: 0.12rem solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 10px 11px 11px -4px rgba(0, 0, 0, 0.04), inset 0px -1px 0px #AED9EF;
    backdrop-filter: blur(4.5px);
    font-weight: 350;
    font-size: 2.5rem;
    line-height: 1.6;
    color: $dark;
    &-text {
      &-start {
        text-align: start;
      }
      &-end {
        text-align: end;
      }
    }
  }

  &-line1 {
    position: relative;
    left: 170%;
    bottom: 85px;
  }
  &-line2 {
    position: relative;
    bottom: 107px;
    left: 119%;
  }
  &-line3 {
    position: relative;
  }
  &-line4 {
    position: relative;
  }
  &-line5 {
    position: relative;
  }
  &-line6 {
    position: relative;
  }
  &-line7 {
    position: relative;
    left: 28%;
    top: 99px;
  }
  &-line8 {
    position: relative;
  }
  &-line9 {
    position: relative;
  }
  &-line10 {
    position: relative;
  }
  &-line11 {
    position: relative;
  }
  &-line12 {
    position: relative;
  }

  &-ellipse1 {
    position: relative;
    left: 168%;
    bottom: 85px;
  }
  &-ellipse2 {
    position: relative;
    bottom: 123px;
    left: 117%;
  }
  &-ellipse3 {
    position: relative;
  }
  &-ellipse4 {
    position: relative;
  }
  &-ellipse5 {
    position: relative;
  }
  &-ellipse6 {
    position: relative;
  }
  &-ellipse7 {
    position: relative;
    bottom: 125px;
    left: 104px;
  }
  &-ellipse8 {
    position: relative;
  }
  &-ellipse9 {
    position: relative;
  }
  &-ellipse10 {
    position: relative;
  }
  &-ellipse11 {
    position: relative;
  }
  &-ellipse12 {
    position: relative;
  }

  &-btn1 {
    width: 53.75rem;
    height: 6.5rem;
    position: relative;
    bottom: 85px;
    left: 80%;
  }
  &-btn2 {
    width: 53.75rem;
    height: 6.5rem;
    position: relative;
    bottom: 105px;
    left: 40%;
  }
  &-btn3 {
    width: 43.5rem;
    height: 10.5rem;
    position: relative;
  }
  &-btn4 {
    width: 42.87rem;
    height: 14.5rem;
    position: relative;
  }
  &-btn5 {
    width: 42.37rem;
    height: 14.5rem;
    position: relative;
  }
  &-btn6 {
    width: 46.75rem;
    height: 10.5rem;
    position: relative;
  }
  &-btn7 {
    width: 71.75rem;
    height: 11.5rem;
    text-align: center;
  }
  &-btn8 {
    width: 57.75rem;
    height: 10.5rem;
    position: relative;
  }
  &-btn9 {
    width: 44.62rem;
    height: 14.5rem;
    position: relative;
  }
  &-btn10 {
    width: 43.62rem;
    height: 14.5rem;
    position: relative;
  }
  &-btn11 {
    width: 43.75rem;
    height: 14.5rem;
    position: relative;
  }
  &-btn12 {
    width: 55.25rem;
    height: 10.5rem;
    position: relative;
  }
}