@import "utils/typography";
@import "utils/vars";

@import "analysis/analysis-second-screen";
@import "analysis/analysis-third-screen";

.page {
  &-pros {
    &-title {
      padding-top: 3.75rem;
    }

    &-items {
      padding-bottom: 3.75rem;
    }
  }
}

@media (max-width : 1060px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }

    &-title {
      @include border-top;
    }

    &-header {
      background-position: bottom;
      background-position-x: 40%;
    }
  }
}

@media (max-width : 727px) {
    html {
      font-size: 5px;
    }
}

@media (max-width : 500px) {
    html {
      font-size: 4px;
    }
}
