@import "utils/typography";
@import "utils/vars";

@import "automation/automation-second-screen";
@import "automation/automation-third-screen";

@media (max-width : 1060px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }

    &-title {
      @include border-top;
    }
  }
}


@media (max-width : 500px) {
  html {
    font-size: 4px;
  }
}