@import "utils/typography";
@import "utils/vars";
//@import "fonts";

.container {
  @include widthContainer;
  padding: 0 $paddingLeftRight;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.svg {
  &-sprites {
    @include svg-sprites;
  }

  //&-arrowBread{
  //  color: #BBBBBB;
  //  width: 1rem;
  //  height: 0.9rem;
  //  margin: 0 3.1rem 0 3.1rem;
  //}
}

.page {
  //&-breadcrumbs {
  //  @include breadcrumbs;
  //
  //  &-text {
  //    @include breadcrumbs-text;
  //  }
  //}

  &-title {
    @include page-title;
  }

  &-header {
    background-image: url("../img/support/support.png");
    background-size: cover;
    height: 99px;
    display: flex;
    align-items: center;
  }

  &-blueBtn {
    @include mainButton;
    font-size: 2.25rem;
    height: 6.8rem;
    width: 34.6rem;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 3px;
    position: relative;
    left: 54.5%;
  }

  &-list {
    &-blueTitle {
      color: $cyan;
      font-weight: 500;
      font-size: 5rem;
      line-height: 1;
      padding-bottom: 2rem;
    }
    &-img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: relative;
      top: 0.7rem;
    }
    &-block {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      width: 30%;
    }
    &-item {
      display: flex;
      column-gap: 1.75rem;
    }
    &-text {
      @include page-list-text;
    }
  }

  &-pros {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, auto);
    column-gap: 2.5rem;
    justify-content: space-between;
    &-title {
      padding-bottom: 5rem;
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      text-align: center;
      grid-area: 1 / 1 / 2 / 6;
    }
    &-item {
      @include page-pros-item;
    }
  }
}

.automation {
  &-description {
    color: $dark;
    font-weight: 350;
    font-size: 2.5rem;
    line-height: 1.6;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  &-advantages {
    @include border-top;
    background-image: url(../img/crm/bcg-office.png);
    background-repeat: no-repeat;
    background-position: right;
    //height: 95.6rem;
    position: relative;
    &-cont {
      padding-top: 4.6rem;
      padding-bottom: 5.37rem;
      color: $dark;
      position: relative;
      z-index: 3;
    }
  }
}

.advantages {
  &-title {
    font-weight: 350;
    font-size: 8.75rem;
    line-height: 1;
    padding-bottom: 4.37rem;
    width: 60%;
  }
  &-imgRoboarm {
    position: absolute;
    left: 34%;
    bottom: 17%;
    width: 169rem;
    height: 52rem;
  }
  &-imgLightning {
    position: absolute;
    z-index: 1;
    top: 2.5%;
    left: -22rem;
    height: 100%;
  }
}

.pros-item {
  &-header {
    @include pros-item-header;
  }

  &-text {
    @include pros-item-text;
  }
}