@import "utils/typography";
@import "utils/vars";

.page {
  &-breadcrumbs {
    @include breadcrumbs;

    &-text {
      @include breadcrumbs-text;
    }
  }

  &-title {
    @include page-title;
    padding-bottom: 4rem;
    padding-top: 0;
  }

  &-showMore {
    width: 100%;
    height: 8rem;
    border: 0.1rem solid $cyan;
    border-radius: 3px;
    background-color: transparent;
    margin-bottom: 4.1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    color: $cyan;
    &:hover {
      background-color: $cyan;
      color: $white;
    }

    &-arrow {
      //width: 1.62rem;
      //height: 1.25rem;
      font-weight: 700;
      font-size: 2rem;
      transform: rotate(270deg);
    }
  }
}

.blog {
  display: flex;
  flex-direction: column;

  &-content {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    &-bigNews {
      height: 54.6rem;
      grid-column: 1 / 3;
    }
    &-item {
      display: flex;
      flex-direction: column;
      height: 54.6rem;
    }
    &-img {
      width: 100%;
    }
    &-label {
      display: flex;
      flex-direction: column;
      padding: 2.5rem 3.12rem;
      row-gap: 3.12rem;
    }
    &-text {
      color: $dark;
      font-weight: 500;
      font-size: 2.64rem;
      line-height: 1.2;
    }
    &-data {
      color: #B6B6B6;
      font-weight: 350;
      font-size: 1.87rem;
      line-height: 1;
    }
  }

  &-pagination {
    display: flex;
    column-gap: 2.87rem;
    justify-content: center;
    padding-bottom: 4.25rem;
    &-number {
      font-weight: 500;
      font-size: 1.87rem;
      line-height: 1.2;
      color: $cyan;
      padding: 1.12rem 0.37rem;
      border: 0.1rem solid $cyan;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $white;
        background-color: $cyan;
      }
    }
  }
}

.content {
  &-bigNews {
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-label {
      width: 50.5%;
      height: 31%;
      display: flex;
      flex-direction: column;
      padding: 2.5rem 3.12rem;
      row-gap: 3.1rem;
      position: relative;
      bottom: 100%;
      transform: translate(0,224%);
      z-index: 2;
      background-color: #fff;
    }
  }
}
