@import "utils/typography";
@import "utils/vars";

@import "contacts/contacts-first-screen";
@import "contacts/contacts-second-screen";
@import "contacts/contacts-third-screen";
@import "contacts/contacts-fourth-screen";

.tablet {
  display: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  &-block {
    display: flex;
    &-cont {
      display: flex;
      flex-direction: column;
      color: $dark;
      width: 66%;
    }
    &-bgd {
      position: unset;
      z-index: 0;
    }
  }
  &-bgd {
    height: 32.1rem;
    width: 100%;
    object-fit: cover;
  }
}


@media (max-width : 1024px) {
  html {
    font-size: 6px;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }
  }

  .contacts {
    &-block {
      display: flex;
      flex-direction: column;
      &-cont {
        width: 100%;
      }
    }
  }
}

@media (max-width : 525px) {
  .page {
    &-title {
      text-align: center;
      &-block {
        border-top: 0.1rem solid #d9d9d9;
        border-bottom: 0.1rem solid #d9d9d9;
      }
    }
  }
}