@import "utils/typography";
@import "utils/vars";
@import "fonts";

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  @include widthContainer;
  max-width: calc(1280px + 40px);
  padding: 0 16px;
}

.svg {
  &-sprites {
    @include svg-sprites;
  }

  &-arrowBread {
    @include svg-arrowBread;
  }

  &-resize-horizontal-round {
    width: 16px;
    height: 16px;
    position: relative;
    top: 15%;
  }
}

.page {
  &-breadcrumbs {
    @include breadcrumbs;

    &-text {
      @include breadcrumbs-text;
    }
  }

  &-title {
    @include page-title;
  }

  &-header {
    background-image: url("../img/support/support.png");
    background-size: cover;
    height: 99px;
    display: flex;
    align-items: center;
  }

  &-blueBtn {
    @include mainButton;
    font-size: 2.25rem;
    height: 6.7rem;
    width: 31.5rem;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 3px;
    position: relative;
    left: 54.5%;
  }

  &-pros {
    &-container {
      padding-top: 10rem;
      padding-bottom: 30px;
      display: grid;
      grid-template-columns: repeat(5, 20%);
      grid-template-rows: repeat(2, auto);
      column-gap: 2.5rem;
      justify-content: space-between;
    }

    &-title {
      padding-bottom: 5rem;
      font-weight: 350;
      font-size: 40px;
      line-height: 1;
      color: $dark;
      position: relative;
      left: 31%;
      grid-area: 1 / 1 / 2 / 6;
    }

    &-item {
      @include page-pros-item;
    }
  }
}

.crm {
  &-implement {
    &-bitrix {
      @include border-bottom;
      color: $dark;
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      &-container {
        display: flex;
        flex-direction: column;
        row-gap: 2.25rem;
      }
      &-title {
        font-weight: 500;
        font-size: 3.1rem;
        line-height: 1.2;
      }
      &-text {
        font-weight: 350;
        font-size: 2.5rem;
        line-height: 1.6;
      }
    }

  }
}
