@import "utils/typography";
@import "utils/vars";

.page {
  &-title {
    @include page-title;
  }

  &-costs {
    &-item {
      background-color: $white;
      color: $dark;
    }
    &-header {
      color: $white;
    }
  }

  &-list {
    &-img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: relative;
      top: 0.7rem;
    }
    &-item {
      display: flex;
      column-gap: 1.75rem;
    }
    &-text {
      @include page-list-text;
    }
  }

  &-pros {
    &-container {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      display: flex;
      flex-direction: column;
      row-gap: 4.1rem;
    }
    &-title {
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      text-align: center;
    }
    &-items {
      display: flex;
      column-gap: 2.5rem;
    }
    &-item {
      @include page-pros-item;
    }
  }
}

.pros-item {
  &-header {
    @include pros-item-header;
  }

  &-text {
    @include pros-item-text;
  }
}

.crm {
  &-support {
    &-bitrix {
      padding-top: 3.5rem;
      padding-bottom: 3.75rem;
      display: flex;
      flex-direction: column;
      row-gap: 2.25rem;
      &-title {
        font-weight: 500;
        font-size: 3.12rem;
        line-height: 1.2;
      }
      &-text {
        font-weight: 350;
        font-size: 2.5rem;
        line-height: 1.6;
      }
    }
    &-costs {
      background-color: $cyan;
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      color: $white;
    }
  }
}

@media (max-width : 1060px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }

    &-title {
      @include border-top;
    }
  }
}

@media (max-width : 650px) {
  .page {
    &-title {
      text-align: center;
      font-size: 7rem;
    }
  }
}

@media (max-width : 500px) {
  html {
    font-size: 4px;
  }

  .phone {
    display: block;
  }
}