@import "utils/typography";
@import "utils/vars";

@import "crm-implement/crm-implement-first-screen";
@import "crm-implement/crm-implement-second-screen";
@import "crm-implement/crm-implement-third-screen";
@import "crm-implement/crm-implement-fourth-screen";
@import "crm-implement/crm-implement-fifth-screen";

.tablet {
  display: none;
}

@media (max-width : 1060px) {
  html {
    font-size: 6px;
  }

  .tablet {
    display: block;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }

    &-title {
      @include border-top;
    }
  }
}


@media (max-width : 650px) {
  .page {
    &-title {
      text-align: center;
      font-size: 7rem;
    }
  }
}

@media (max-width : 500px) {
  html {
    font-size: 4px;
  }
}