@import "utils/typography";
@import "utils/vars";

.page {
  &-costs {
    &-item {
      background-color: $white;
      color: $dark;
    }
    &-header {
      color: $white;
    }
  }

  &-list {
    &-img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: relative;
      top: 0.7rem;
    }
    &-item {
      display: flex;
      column-gap: 1.75rem;
    }
    &-text {
      @include page-list-text;
    }
  }
}

.crm {
  &-support {
    &-costs {
      background-color: $cyan;
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      color: $white;
    }
  }
}

@media (max-width : 1060px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }

    &-title {
      @include border-top;
    }
  }
}

@media (max-width : 650px) {
  .page {
    &-title {
      text-align: center;
      font-size: 7rem;
    }
  }
}

@media (max-width : 500px) {
  html {
    font-size: 4px;
  }

  .phone {
    display: block;
  }
}