@import "utils/typography";
@import "utils/vars";
@import "development/development-first-screen";
@import "development/development-second-screen";
@import "development/development-third-screen";
@import "development/development-fourth-screen";
@import "development/development-fifth-screen";

.page {
  &-cases {
    @include border-top;
  }
}

@media (max-width : 1280px) {
  html {
    font-size: 6px;
  }

  .container {
    padding: 0 4rem;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }
  }
}

@media (max-width : 690px) {
  header .header-logo {
    width: 18rem;
  }

  html {
    font-size: 4px;
  }
}
