@import "utils/typography";
@import "utils/vars";

@import "integrations/integrations-third-screen";

.tablet {
  display: none;
}

.page {
  &-pros {
    @include border-bottom;
  }
}


@media (max-width : 1024px) {
  html {
    font-size: 6px;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }

    &-title {
      @include border-top;
    }
  }

}

@media (max-width : 650px) {
  .page {
    &-title {
      text-align: center;
      font-size: 7rem;
    }
  }
}

@media (max-width : 500px) {
  html {
    font-size: 4px;
  }
}