
@import "utils/typography";
@import "utils/vars";
@import "fonts";


//TODO не подключаются шрифты
//TODO нужно ли в этот файл подключать файл vars.scss?



* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  @include widthContainer;
  max-width: calc(1280px + 40px);
  padding: 0 16px;
}

.svg {
  &-sprites {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &-arrowBread {
    color: #BBBBBB;
    width: 1rem;
    height: 0.9rem;
    margin: 0 3.1rem 0 3.1rem;
  }

  &-arrow-slider {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 0.4em;
  }
  &-resize-horizontal-round {
    position: relative;
    top: 15%;
  }
}

.internet {
  font-family: 'UZ Sans', sans-serif;

  &-content {
    font-weight: 350;
    color: $dark;
    padding-top: 32px;
    &-header {
      font-size: 8.75rem;
      line-height: 1;
    }

    &-block {
      display: flex;
      column-gap: 59px;
    }
  }
}

.page {
  &-breadcrumbs {
    padding-top: 20px;
    padding-bottom: 20px;
    &-text {
      color: #C4C4C4;
      font-style: normal;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1;
    }
  }

  &-title {
    font-style: normal;
    font-weight: 350;
    font-size: 5.5rem;
    line-height: 1;
    color: $dark;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-header {
    display: flex;
    background-image: url("../img/internet-shops/background-header.png");
    justify-content: center;
    background-size: cover;
    &-cont {
      font-style: normal;
      color: $white;
      padding: 23px 10.3rem 23px 23.7rem;
    }

    &-text {
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 1;
    }

    &-boldText {
      font-weight: 700;
      font-size: 3.7rem;
      line-height: 1.5;
    }
  }

  &-blueBtn {
    width: 208px;
    height: 54px;
    background-color: #01C2FF;
    border-radius: 3px;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    margin-top: 23px;
    margin-bottom: 23px;
  }

  &-pros {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(2, auto);

    &-title {
      padding-bottom: 40px;
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      text-align: center;
      grid-area: 1 / 1 / 2 / 7;
    }

    &-item {
      color: $dark;
      display: flex;
      flex-direction: column;
      padding-bottom: 2.5rem;
      row-gap: 4.4rem;
    }
  }

  &-bonuses {
    background-color: #000E2C;

    &-container {
      display: flex;
    }

    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 3.6rem;
      padding-bottom: 3.7rem;
      padding-top: 3.7rem;
      z-index: 2;
    }

    &-title {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 2;
      color: $white;

      &-main {
        font-weight: 350;
        font-size: 5rem;
        line-height: 2;
      }
    }

    &-img {
      position: relative;
      left: -5%;
      top: 6.25rem;
      object-fit: contain;
    }
  }

  &-cases {
    padding-bottom: 30px;
    padding-top: 30px;
    &-title {
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      padding-bottom: 30px;
    }
    &-gallery {
      display: flex;
      justify-content: space-between;
      column-gap: 2.7rem;
    }
    &-swiper {
      display: flex;
      column-gap: 19px;
      padding-top: 30px;
    }
  }

  &-list {
    &-list {
      font-weight: 350;
      font-size: 2.5rem;
      line-height: 1.6;
      display: flex;
      flex-direction: column;
      row-gap: 3.6rem;
    }

    &-item {
      color: $white;
      width: 84.2rem
    }
  }

  &-look {
    &-href {
      font-weight: 350;
      font-size: 1.9rem;
      line-height: 1.1;
      color: #01C2FF;
    }
  }
}

.pros-item {
  &-header {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 1.5;
  }

  &-text {
    font-weight: 350;
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.content-block {
  padding-top: 44px;
  padding-bottom: 20px;
  width: 49.2rem;
  font-size: 2.5rem;
  line-height: 1.6;
  &-img {
    object-fit: contain;
    position: relative;
    bottom: 6.2rem;
  }
}

.line {
  width: 100%;
  height: 1px;
  border: 1px solid #D9D9D9;
  margin-bottom: 30px;
}

.cases-gallery-item {
  object-fit: contain;
  width: 33%;
}

.swiper-arrows {
  display: flex;
  column-gap: 19px;
}
