@import "utils/typography";
@import "utils/vars";

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  @include widthContainer;
  padding: 0 15rem;
}

.svg {
  &-sprites {
    @include svg-sprites;
  }
}

.page {
  &-breadcrumbs {
    @include breadcrumbs;

    &-text {
      @include breadcrumbs-text;
    }
  }

  &-title {
    @include page-title;
  }

  &-header {
    background-image: url("../img/support/support.png");
    background-size: cover;
    height: 99px;
    display: flex;
    align-items: center;
  }

  &-blueBtn {
    @include mainButton;
    font-size: 2.25rem;
    height: 6.8rem;
    width: 37.25rem;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 3px;
    position: relative;
    left: 54.5%;
  }

  &-list {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
    }
    &-cont {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      color: $dark;
    }

    &-block {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      width: 40%;
    }

    &-blueTitle {
      color: $cyan;
      font-weight: 500;
      font-size: 5rem;
      line-height: 1;
      padding-bottom: 2.5rem;
    }

    &-title {
      font-weight: 500;
      font-size: 3.12rem;
      line-height: 1.2;
    }

    &-img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: relative;
      top: 0.7rem;
    }

    &-item {
      display: flex;
      column-gap: 1.75rem;
    }

    &-text {
      @include page-list-text;
    }
  }

  &-pros {
    &-container {
      padding-top: 10rem;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 4.37rem;
    }

    &-title {
      font-weight: 350;
      font-size: 40px;
      line-height: 1;
      color: $dark;
      text-align: center;
    }

    &-block {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      @include page-pros-item;
    }
  }
}

.integrations {
  &-description {
    @include description;
    display: flex;
    flex-direction: column;
    row-gap: 3.75rem;
  }

  &-content {
    @include border-top;
    color: $dark;
    height: 78.1rem;
    &-block {
      width: 35%;
    }
    &-cont {
      padding-top: 3.75rem;
      padding-bottom: 4.62rem;
      display: flex;
    }
    &-title {
      font-weight: 500;
      font-size: 5rem;
      line-height: 1;
      color: $cyan;
      padding-bottom: 3.75rem;
    }
  }
}

.content {
  &-img {
    width: 80%;
    position: relative;
    left: 15%;
    &-block {
      width: 80%;
      position: relative;
      bottom: 4rem;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 178, 255, 0.2) 0%, rgba(90, 206, 255, 0) 100%);
    }
  }
}

.pros-item {
  &-header {
    @include pros-item-header;
  }

  &-text {
    @include pros-item-text;
  }
}