@import "utils/typography";
@import "utils/vars";
@import "internet-shops/internet-shops-first-screen";
@import "internet-shops/internet-shops-second-screen";
@import "internet-shops/internet-shops-third-screen";
@import "internet-shops/internet-shops-fourth-screen";


@media (max-width : 1280px){
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  html {
    font-size: 6px;
  }
  .page {
    &-breadcrumbs {
      display: none;
    }
  }
}

@media (max-width : 1024px) {
  html {
    font-size: 5px;
  }
}

@media (max-width : 690px) {
  html {
    font-size: 4px;
  }
}

@media (max-width : 550px) {
  html {
    font-size: 4px;
  }
}