@import "utils/typography";
@import "utils/vars";

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  @include widthContainer;
  padding: 0 15rem;
}

.svg {
  &-sprites {
    @include svg-sprites;
  }

  &-arrow {
    &-slider {
      @include arrow-slider;
    }
    &-sliderNext {
      transform: rotate(180deg);
    }
  }

  &-resize-horizontal-round {
    position: relative;
    top: 15%;
  }
}

.page {
  &-title {
    @include page-title
  }

  &-header {
    display: flex;
    column-gap: 5.4rem;
    background-image: url("../img/internet-shops/background-header.png");
    background-size: cover;
    height: 12.4rem;
    justify-content: space-evenly;
    &-block {
      display: flex;
      column-gap: 10.4rem;
      height: 12.4rem;
    }
    &-cont {
      color: $white;
      align-self: center;
    }

    &-text {
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 1;
    }

    &-boldText {
      font-weight: 700;
      font-size: 3.7rem;
      line-height: 1.5;
    }
  }

  &-blueBtn {
    @include page-blueBtn;
  }

  &-pros {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(2, auto);

    &-title {
      padding-bottom: 5rem;
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      text-align: center;
      grid-area: 1 / 1 / 2 / 7;
    }

    &-item {
      @include page-pros-item;
    }
  }

  &-bonuses {
    background-color: #000E2C;

    &-container {
      display: flex;
    }

    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 2.6rem;
      padding-bottom: 5rem;
      z-index: 2;
      color: $white;
    }

    &-title {
      &-main {
        font-weight: 350;
        font-size: 5rem;
        line-height: 2;
      }
      &-second {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 2;
      }
    }

    &-img {
      object-position: bottom;
      object-fit: contain;
    }
  }

  &-list {
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 3.6rem;
    }

    &-item {
      color: $white;
      width: 85.2rem;
    }
  }

  &-cases {
    padding-bottom: 3.7rem;
    padding-top: 3.7rem;
    &-title {
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      padding-bottom: 3.7rem;
      padding-top: 30px;
    }
    &-gallery {
      display: flex;
      justify-content: space-between;
      column-gap: 2.7rem;
    }
    &-swiper {
      display: flex;
      column-gap: 2.3rem;
      padding-top: 3.7rem;
    }
  }

  &-look {
    &-href {
      font-weight: 350;
      font-size: 1.9rem;
      line-height: 1.1;
      color: #01C2FF;
    }
  }
}

.vector-btn {
  display: none;
}

.list-item-text {
  font-weight: 350;
  font-size: 2.5rem;
  line-height: 1.6;
}

.internet {
  &-content {
    font-weight: 350;
    color: $dark;
    padding-top: 4rem;
    margin-bottom: 3.75rem;
    @include border-bottom;
    position: relative;
    z-index: 2;
    background-color: $white;
    &-header {
      font-size: 8.75rem;
      line-height: 1;
      //padding-top: 4.8rem;
    }
    &-block {
      display: flex;
      column-gap: 7.4rem;
    }
  }
}

.pros-item {
  &-header {
    @include pros-item-header;
  }

  &-text {
    @include pros-item-text;
  }
}

.content-block {
  padding-top: 5.5rem;
  padding-bottom: 2.5rem;
  width: 49.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  &-text {
    font-size: 2.5rem;
    line-height: 1.6;
  }
  &-img {
    object-fit: contain;
    position: relative;
    bottom: 7.5rem;
    right: 1.8rem;
  }
}

.cases-gallery-item {
  object-fit: contain;
  width: 33%;
}

.swiper-arrows {
  display: flex;
  column-gap: 2.4rem;
}



@media (max-width : 1280px){
  .container {
    padding: 0 2.5rem;
  }

  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }

    &-title {
      @include border-top;
      padding-top: 3.3rem;
      padding-bottom: 3.3rem;
    }

    &-header {
      background-position-x: center;
    }

    &-bonuses {
      &-img {
        width: 83.7rem;
      }
    }
  }

  .internet {
    &-content {
      padding-top: 8.5rem;
      &-header {
      }
      &-block {
        column-gap: 4.3rem;
      }
    }
  }

  .content-block {
    width: 79.3rem;
    &-img {
      width: 72.3rem;
      position: relative;
      bottom: 4.5rem;
      right: 0;
      left: -12.3rem;
    }
  }

  .cases-gallery-item {
    width: 52.5rem
  }
}

@media (max-width : 1024px) {
  html {
    font-size: 5px;
  }

  .page {
    &-cases {
      &-gallery {
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width : 860px) {
  .page {
    &-bonuses {
      &-img {
        width: 70rem;
        position: relative;
        right: 16%;
      }
    }

    &-blueBtn {
      @include page-blueBtn-maxWidth650px;
    }
  }

  .scissors-img {
    position: relative;
    left: -10%;
    height: 16rem;
  }

  .content-block {
    width: 79.3rem;
    &-img {
      width: 80.3rem;
      position: relative;
      bottom: 7.5rem;
      right: 0;
      left: -10.3rem;
    }
  }
}

@media (max-width : 690px) {
  html {
    font-size: 4px;
  }

  .page {
    &-header {
      display: flex;
      justify-content: space-evenly;
      &-block {
        display: flex;
        align-self: center;
        column-gap: 4rem;
        row-gap: 2.2rem;
        padding: 4rem 4.7rem;
        justify-content: space-between;
      }
    }

    &-blueBtn {
      font-size: 2rem;
    }

    &-bonuses {
      &-img {
        display: none;
      }
    }
  }

  .svg-vector-btn {
    display: none;
  }

  .vector-btn {
    display: block;
    color: $cyan;
    font-weight: 400;
    font-size: 3.7rem;
  }

  .internet {
    &-content {
      &-header {
        font-size: 11.2rem;
        text-align: center;
      }
      &-block {
        flex-direction: column-reverse;
        padding-top: 4rem;
      }
    }
  }

  .content-block-text {
    font-size: 4.5rem;
  }
}

@media (max-width : 550px) {
  html {
    font-size: 4px;
  }

  .svg {
    &-vector {
      &-btn {
        display: none;
      }
    }
  }

  .scissors-img {
    position: relative;
    right: 5%;
  }

  .page {
    &-title {
      text-align: center;
    }

    &-header {
      column-gap: 0;
      &-block {
        flex-direction: column;
        padding: 1rem 1.7rem;
        row-gap: 0;
      }
      &-text {
        font-size: 2rem;
      }
      &-boldText {
        font-size: 3rem;
      }
    }

    &-blueBtn {
      @include page-blueBtn-maxWidth550px;
    }

    &-bonuses {
      padding-top: 7rem;
      padding-bottom: 7rem;
      &-title {
        &-main {
          font-size: 7.5rem;
        }
        &-second {
          font-size: 4.5rem;
        }
      }
    }
  }

  .vector-btn {
    display: block;
  }
}