@import "utils/typography";
@import "utils/vars";

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  @include widthContainer;
  padding: 0 15rem;
}

.svg {
  &-sprites {
    @include svg-sprites;
  }
}

.page {
  &-breadcrumbs {
    @include breadcrumbs;

    &-text {
      @include breadcrumbs-text;
    }
  }

  &-title {
    @include page-title;
  }

  &-header {
    background-image: url("../img/support/support.png");
    background-size: cover;
    height: 99px;
    display: flex;
    align-items: center;
  }

  &-blueBtn {
    @include mainButton;
    font-size: 2.25rem;
    height: 6.8rem;
    width: 37.25rem;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 3px;
    position: relative;
    left: 54.5%;
  }

  &-list {
    &-cont {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      color: $dark;
    }
    &-block {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      width: 40%;
    }
    &-blueTitle {
      color: $cyan;
      font-weight: 500;
      font-size: 5rem;
      line-height: 1;
      padding-bottom: 2.5rem;
    }
    &-title {
      font-weight: 500;
      font-size: 3.12rem;
      line-height: 1.2;
    }
    &-img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: relative;
      top: 0.7rem;
    }
    &-item {
      display: flex;
      column-gap: 1.75rem;
    }
    &-text {
      @include page-list-text;
    }
  }

  &-pros {
    &-container {
      padding-top: 10rem;
      padding-bottom: 30px;
      display: grid;
      grid-template-columns: repeat(4, 38.1rem);
      grid-template-rows: repeat(2, auto);
      column-gap: 2.5rem;
      justify-content: space-between;
    }

    &-title {
      padding-bottom: 5rem;
      font-weight: 350;
      font-size: 40px;
      line-height: 1;
      color: $dark;
      text-align: center;
      grid-area: 1 / 1 / 2 / 7;
    }

    &-item {
      @include page-pros-item;
    }
  }

  &-costs {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.75rem;
    &-header {
      padding-bottom: 3.75rem;
      font-weight: 350;
      font-size: 5rem;
      line-height: 1;
      color: $dark;
      text-align: start;
    }
    &-block {
      display: flex;
      column-gap: 3.75rem;
      justify-content: center;
    }
    &-item {
      padding: 2.5rem;
      border: 0.1rem solid $grey;
      box-shadow: 0 11px 25px -14px rgba(0, 0, 0, 0.39);
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30.1rem;
    }
  }
}

.maintenance {
  &-description {
    @include description;
  }

  &-list {
    @include border-top;
    position: relative;
  }

  &-imgGirl {
    position: absolute;
    bottom: 0%;
    left: 45%;
    height: 85%;
  }
}

.costs {
  &-item {
    color: $dark;
    &-img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
    }
    &-header {
      font-weight: 500;
      font-size: 3.1rem;
      line-height: 1.2;
    }
    &-text {
      font-weight: 350;
      font-size: 2.5rem;
      line-height: 1.6;
    }
    &-btn {
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 1;
      width: 19.6rem;
      height: 5.5rem;
      border: 0.1rem solid $dark;
      border-radius: 3px;
      padding: 1.5rem 2.5rem;
      color: $dark;
      background: $white;
    }
  }
}

.support {
  &-care {
    height: 69rem;
    background-image: url("../img/support/background-support.png");
    &-cont {
      display: flex;
      padding-top: 7.3rem;
      padding-bottom: 7.3rem;
      justify-content: space-between;
    }
    &-block {
      display: flex;
      flex-direction: column;
      color: $white;
      width: 89rem;
      row-gap: 3.75rem;
    }
    &-title {
      font-weight: 350;
      font-size: 8.75rem;
      line-height: 1;
    }
    &-text {
      font-weight: 350;
      font-size: 2.5rem;
      line-height: 1.6;
    }
    &-btn {
      @include mainButton;
      background: $cyan;
      font-size: 1.8rem;
      line-height: 1;
      height: 5.6rem;
      width: 15.2rem;
      border: 0.15rem solid $grey;
    }
    &-img {
      width: 380px;
      height: 448px;
      position: relative;
      bottom: 25px;
      display: flex;
      flex-direction: column;
      &-girl {
        position: relative;
        z-index: 2;
      }
      &-shadow {
        position: relative;
        bottom: 17%;
        left: 3%;
        z-index: 0;
      }
    }
  }
}

.pros-item {
  &-header {
    @include pros-item-header;
  }

  &-text {
    @include pros-item-text;
  }
}