@import "utils/typography";
@import "utils/vars";
@import "all-pages/header";
@import "mobile/mobile-content";
@import "mobile/mobile-first-screen";
@import "mobile/mobile-second-screen";
@import "mobile/mobile-third-screen";
@import "mobile/mobile-fourth-screen";
@import "mobile/mobile-fifth-screen";
@import "mobile/mobile-sixth-screen";
@import "mobile/mobile-seventh-screen";
@import "mobile/mobile-eighth-screen";
@import "mobile/mobile-ninth-screen";
@import "mobile/mobile-tenth-screen";

.header {
  background-color: $black;
  color: $white;
}

header {
  background-color: $black;
  color: $white;
}

.page-breadcrumbs {
  border-top: none;
}

a {
  text-decoration: none;
}

.mobile {
  background-color: $black;
  color: $white;
}

.mobile {
  &-content {
    &-header {
      color: $cyan;
      font-weight: 350;
      font-size: 8.75rem;
      line-height: 1;
      padding-bottom: 1.25rem;
      text-align: center;
    }
  }
}


@media (max-width : 1200px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }
  }
}

@media (max-width : 900px) {
  html {
    font-size: 5px;
  }
}


@media (max-width : 500px) {
  html {
    font-size: 4px;
  }
}

