@import "utils/typography";
@import "utils/vars";

@import "project/project-first-screen";
@import "project/project-info";
@import "project/project-third-screen";

.project {
  background-color: #EAF1FB;
  height: 150rem;
  padding-top: 6rem;
  &-cont {
    display: flex;
    justify-content: space-between;
    color: $dark;
    column-gap: 2.6rem;
  }
  &-aside {
    display: flex;
    flex-direction: column;
    row-gap: 3.75rem;
    position: relative;
    top: -15rem;
  }
}

@media (max-width : 1024px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }
  }
}

@media (max-width : 720px) {
  .project {
    height: 110rem;
    &-aside {
      top: -6rem;
    }
  }
}

@media (max-width : 500px) {
  html {
    font-size: 4px;
  }
}