@import "utils/vars";
@import "utils/typography";

@import "specialists/specialists-content";

.specialists {
  @include widthContainer;
  padding:0 $paddingLeftRight;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  color: $dark;
  &-inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
  }
  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 6.25rem;
  }
}

.connection-block {
  height: 46.25rem;
  width: 20%;
  padding: 4rem 5rem 1.5rem 5rem;
}

@media (max-width : 1140px) {
  html {
    font-size: 6px;
  }

  .phone {
    display: block;
  }

  .header {
    border-top: 0.1rem solid #d9d9d9;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }
  }

  .connection-block {
    display: none;
  }

  .specialists {
    padding: 0 4rem;
    &-inner {
      width: 100%;
    }
  }
}

@media (max-width : 690px) {
  header .header-logo {
    width: 18rem;
  }

  html {
    font-size: 4px;
  }
}