@import 'utils/vars';
@import 'fonts';
@import 'utils/typography';
@import 'all-pages/header';
@import 'all-pages/footer';
@import 'all-pages/prefooter';
@import 'all-pages/prefooter-gallery';
@import 'all-pages/feedback-form';
@import 'all-pages/breadcrumps';
@import 'libs/swiper';
@import 'all-pages/costs';
@import 'all-pages/showMore';
@import 'all-pages/connectionBlock';
@import 'all-pages/headerConsultation';
@import 'all-pages/pluses';
@import 'all-pages/pageCases';

.svg {
  &-sprites {
    display: none;

    &-arrow {
      &-slider {
        @include arrow-slider;
      }
      &-sliderNext {
        transform: rotate(180deg);
      }
    }
  }
}


.container {
    @include widthContainer;
    padding: 0 15rem;
}

.phone {
    display: none;
}

.page {
    &-title {
      font-weight: 350;
      font-size: 5.5rem;
      line-height: 1;
      color: $dark;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    &-description {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
      display: flex;
      flex-direction: column;
      row-gap: 2.25rem;
      color: $dark;
      &-title {
        font-weight: 500;
        font-size: 3.1rem;
        line-height: 1.2;
      }
      &-text {
        font-weight: 350;
        font-size: 2.5rem;
        line-height: 1.6;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 3.75rem;
      &-list {
        display: flex;
        flex-direction: column;
        align-self: center;
        row-gap: 3.6rem;
      }
      &-item {
        display: flex;
        column-gap: 1.7rem;
        align-items: center;
      }
    }
}

.list {
  &-item {
    &-text {
      font-weight: 350;
      font-size: 2.5rem;
      line-height: 1.6;
    }
    &-img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }
  }
}

.connection-block-icon {
  &:hover {
    transform: scale(1.25);
  }
}

  @media (max-width : 1024px) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .page {
      &-description {
        padding-top: 5rem;
        padding-bottom: 5rem;
        &-title {
          font-weight: 700;
          font-size: 3.3rem;
          line-height: 1.3;
        }
        &-text {
          font-size: 3rem;
        }
      }
    }
  }

  @media (max-width : 500px) {
    .page {
      &-description {
        &-title {
          font-size: 5rem;
        }
        &-text {
          font-size: 4.5rem;
        }
      }
    }

    .list {
      &-item {
        &-text {
          font-size: 4.0rem;
        }
        &-img {
          width: 6rem;
          height: 6rem;
        }
      }
    }
  }

