@import 'utils/vars';
@import 'fonts';
@import 'utils/typography';
@import 'all-pages/header';
@import 'all-pages/footer';
@import 'all-pages/prefooter';
@import 'all-pages/prefooter-gallery';
@import 'all-pages/feedback-form';
@import 'all-pages/breadcrumps';
@import 'libs/swiper';
@import 'all-pages/costs';
@import 'all-pages/showMore';
@import 'all-pages/connectionBlock';

.svg-sprites{
  display: none;
}

.list-item-img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.container {
  @include widthContainer;
  padding: 0 15rem;
}

.phone {
  display: none;
}  //TODO убрать в css везде этот стиль, т.к. есть единый

@media (max-width : 1240px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}