@import "support/support-first-screen";
@import "support/support-second-screen";
@import "support/support-third-screen";
@import "support/support-fourth-screen";
@import "support/support-fifth-screen";

.page {
  &-cases {
    @include border-bottom;
  }
}

.support {
  &-costs {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

@media (max-width : 1200px) {
  html {
    font-size: 6px;
  }

  .page {
    &-breadcrumbs {
      display: none;
    }
  }
}

@media (max-width : 900px) {
  html {
    font-size: 5px;
  }
}

@media (max-width : 500px) {
  html {
    font-size: 4px;
  }
}